In [21]:
scores= {"virat": 90,"rohit": 100,"rahul": 10,"hardik": 110,"gill": 50,"jadeja": 90,"siraz": 80,"ashwin": 30}
scores.pop("gill")
scores

{'virat': 90,
 'rohit': 100,
 'rahul': 10,
 'hardik': 110,
 'jadeja': 90,
 'siraz': 80,
 'ashwin': 30}

In [23]:
#use of fromkeys() to create a new dict
list1= ["A","B","c","D"]
my_dict = dict.fromkeys(list1,10)
my_dict

{'A': 10, 'B': 10, 'c': 10, 'D': 10}

In [ ]:
#use 'for' loop for hardik
for k in scores.keys():
if k=="hardik"

In [25]:
scores_list = []
for v in scores.values():
     scores_list.append(v)
print(scores_list)
print("Total Score: ",sum(scores_list))

[90, 100, 10, 110, 90, 80, 30]
Total Score:  510

In [1]:
#to create a set with curly braces
s1={1,2,3,8,4,66,44}
print(s1)

{1, 2, 3, 4, 66, 8, 44}

In [5]:
lst1=[1,5,2,7,44,4,74,88,9]

In [7]:
s2=set(lst1)
print(s2)
print(type(s2))

{1, 2, 4, 5, 7, 9, 74, 44, 88}
<class 'set'>

In [9]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [11]:
# Union operation using / operator
s1={1,2,3,4}
s2={3,4,5,6}

In [13]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [25]:
# union using ^ operator
s1 ^ s2

{1, 2, 3, 4}

In [27]:
# Intersection using & operator
s1 & s2

{5, 6, 7}

In [23]:
#difference of two sets
s1={1,2,3,4,5,6,7}
s2={5,6,7}

In [29]:
s1 - s2

{1, 2, 3, 4}

In [31]:
s2 - s1

set()

In [33]:
# symmetric difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [35]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [43]:
s1={1,2,3,4,5}
s2={1,2,3}

In [47]:
s2.issubset(s1)

True

In [45]:
s2.issuperset(s1)

False

In [51]:
# str with double,single,triple quetus...
str1="Welcome to aiml class"
print(str1)
str2='WE started with python'
print(str2)
str3='''This is an awesome class'''
print(str3)

Welcome to aiml class
WE started with python
This is an awesome class

In [57]:
# slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [59]:
# Using of split()
print(str2)
str2.split()

WE started with python

['WE', 'started', 'with', 'python']

In [61]:
# using of join() method
reviews=["The product is awesome","Great Service"]
joined_string = ';'.join(reviews)
joined_string

'The product is awesome;Great Service'

In [63]:
str5="    Hello,How are you?    "
str5

'    Hello,How are you?    '

In [65]:
str5="    Hello,How are you?    "
str5.lower()

'    hello,how are you?    '

In [67]:
str5="    Hello,How are you?    "
str5.upper()

'    HELLO,HOW ARE YOU?    '

In [69]:
# Example dictionary for product sales analysis
sales_data = {
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Headphones', 'Smartphone', 'Tablet', 'Keyboard'],
    'category': ['Electronics', 'Accessories', 'Electronics', 'Electronics', 'Accessories'],
    'pricerange': ['High', 'Medium', 'High', 'Medium', 'Low'],
    'stockavailable': [50, 150, 75, 40, 200],
}

In [71]:
for k,v in sales_data.items():
    print(k,set(v))
    print('/n')

product_id {101, 102, 103, 104, 105}
/n
product_name {'Headphones', 'Laptop', 'Tablet', 'Keyboard', 'Smartphone'}
/n
category {'Electronics', 'Accessories'}
/n
pricerange {'Medium', 'High', 'Low'}
/n
stockavailable {40, 200, 75, 50, 150}
/n

In [ ]:
#product and review analysis